
@model EDI.Models.tradingPartnerSetup

<div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tabUCC128" role="tab"><span><i class="ti-user"></i></span> UCC-128  </a> </li>
        <li class="nav-item disabled"> <a class="nav-link" data-toggle="tab" href="#Tamplates" role="tab"><span><i class="ti-user"></i></span> Tamplates </a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#LookupsLableSetup" role="tab"><span><i class="ti-user"></i></span> Lookups  </a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tabShipFromLocations" role="tab"><span><i class="ti-user"></i></span> Ship From Locations </a> </li>
    </ul>
    <div class="tab-content  tabcontent-border">
        <div class="tab-pane active" id="tabUCC128" role="tabpanel">
            <div class="p-20">
                <div class="row">
                    <div class="col-md-2">
                        <label>
                            Next UCC #
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Extension </label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Name)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>
                            Company#
                        </label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.Name)
                    </div>
                    <div class="col-md-5">
                        <b> Note:</b>
                        the combined entries for Comapny # and next Serial # cannot exceed 16 characters.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Next Serial # </label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Name)
                    </div>
                </div>
                <div class="row">
                    <input type="checkbox" id="UCC128" />
                    <label for="UCC128">Use UCC-128 Autocreate</label>
                </div>

                <div class="row">
                    <input type="checkbox" id="ConsolidateTrasactions" />
                    <label for="ConsolidateTrasactions">Consolidate Trasactions</label>
                </div>

                <fieldset>
                    <legend>Pick & Pack Auto-Packing</legend>
                    <div class="row" style="padding:10px">
                        @Html.DisplayTextFor(x => x.Name);
                    </div>
                </fieldset>
            </div>
        </div>



        <div class="tab-pane" id="Tamplates" role="tabpanel">
            <div class="p-20">
                <div class="row">
                    <label> Lookup Type : </label> @Html.TextBoxFor(x => x.Name);
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table full-color-table full-inverse-table hover-table">
                            <thead>
                                <tr>
                                    <th>
                                        <label>  Conversion Factor </label>
                                    </th>
                                    <th>
                                        <label>  Primary Item # </label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Export", "Edit", new { id = Model.id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Import", "Edit", new { id = Model.id }, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>

        <div class="tab-pane" id="LookupsLableSetup" role="tabpanel">
            <div class="p-20">
                <div class="row">
                    <label> Lookup Type : </label> @Html.TextBoxFor(x => x.Name);
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table full-color-table full-inverse-table hover-table">
                            <thead>
                                <tr>
                                    <th>
                                        <label>  Store # </label>
                                    </th>
                                    <th>
                                        <label>  GLN # </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => modelItem.Name)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              
            </div>
        </div>

        <div class="tab-pane" id="tabShipFromLocations" role="tabpanel">
            <div class="p-20">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table full-color-table full-inverse-table hover-table">
                            <thead>
                                <tr>
                                    <th>
                                        <label> Default  </label>
                                    </th>
                                    <th>
                                        <label> Location  </label>
                                    </th>
                                    <th>
                                        <label> Name  </label>
                                    </th>
                                    <th>
                                        <label>  Address 1 </label>
                                    </th>
                                    <th>
                                        <label> Address 2 </label>
                                    </th>
                                    <th>
                                        <label> City   </label>
                                    </th>
                                    <th>
                                        <label> State </label>
                                    </th>
                                    <th>
                                        <label> Zip  </label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Name)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
